
<nav>
    <a href='/posts'>Home</a> |
    <a href='/addnewpost'>Add new post </a> 
    <div1>
        <img src="https://raw.githubusercontent.com/kevinkits2/WAD-kodu1/main/pic/postit.png" alt="postIt">
    </div1>

    <div2>
        <input type="text"><button>Search</button>
    </div2>

    <div3>
        <div class="dropdown">
            <img src="pic\user.png" onclick="dropDownMenu()" alt="User" class="dropbtnpic">
        </div>
    
    </div3>
    
</nav>