
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/navstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <nav class="header">

        <div_logo>
            <img src="https://raw.githubusercontent.com/kevinkits2/WAD-kodu1/main/pic/postit.png" alt="postIt">
        </div_logo>

        <div_nav>
        <a href='/posts'>Home</a> |
        <a href='/addnewpost'>Add new post </a> 
        </div_nav>

        
    
        <div2>
            <input type="text"><button>Search</button>
        </div2>
    
        <div_user>
            <img src="https://raw.githubusercontent.com/kevinkits2/WAD-kodu1/main/pic/user.png" alt="User">
        </div_user>
        
    </nav>
    
</body>
</html>