.header{
    background-color: rgb(255, 255, 255);
    
}
.header div_logo img{
    height: 5%;
    width: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
.header div_user img{
    height: 8%;
    width: auto;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.header div_nav {
    margin-left: 32.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}